.adminbtn{
    //position: fixed;
    //top:0;
    font-size: 1rem;
    display: inline;
    ul{
        text-align: center;
        margin-right: 1rem;
        li{
            display: inline-block;
            
        }
    }
}