.adminbtn{
    margin-top: 0;
    font-size: 1rem;
    display: inline;
    ul{
        float: right;
        margin-right: 1rem;
        li{
            display: inline-block;
            
        }
    }
}