.authBinding{
    display: block;
    width: 100%;
    max-width: 35rem;
    margin: 4rem auto 6rem;
    margin-top: 10rem;
    background: white;
    border: 1px solid royalblue;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    
    

    .wrap{
        padding: 0 10px;

        h2{
           
            
            font-weight: 400;
            text-align: center;
            display: block;
            width: 100%;
            font-size: 2rem;
            text-transform: capitalize;
            color: royalblue;
            margin-bottom: 10px; 
        }
    }
}
 